<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- Bin pose emulator -->
    <node pkg="bin_pose_emulator" name="vision_system_1" type="bin_pose_emulator" output="screen"/>

    <rosparam command="load" file="$(find bin_pose_emulator)/config/bin_pose_emulator_from_cube.yaml" ns="vision_system_1"/>
    <!--rosparam command="load" file="$(find bin_pose_emulator)/config/bin_pose_emulator_from_pointcloud.yaml" ns="vision_system_1"/-->

</launch>
